<%
title="#{@arrival_times.first.strftime(@time_template)} Departure from #{@stations.first.long_name} to #{@stations.last.long_name}"
content_for(:title, title)
%><h1><%=h title %></h1>

<% if @track_history.is_a?(Array) && @track_history.size > 0 %>
	<h2>Most Recent Tracks</h2>
	<ol class="track-history">
		<% @track_history.each do |departure| %>
			<li class="past-departure"><%=h departure.track %></li>
		<% end %>
	</ol>
<% end %>

<h2>Stops</h2>
<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Station</th>
		</tr>
	</thead>
	<tbody>
		<% @stations.size.times do |index| %>
		<% class_name = @stations[index].eql?(@destination) ? 'destination' : '' %>
		<tr>
			<td class="<%=h class_name %>"><%=h @arrival_times[index].strftime(@time_template) %></td>
			<td class="<%=h class_name %>"><%=h @stations[index].long_name %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<span style="display: none">Generated in <%=h Time.now - @start %> seconds</span>
