<%
if is_mobile?
	title = "#{@departure_time.strftime(@time_template)} #{@origin.short_name} to #{@destination.short_name} on #{@on.to_date.strftime('%b %e')}"
else
	title = "#{@departure_time.strftime(@time_template)} Train from #{@origin.short_name} to #{@destination.short_name} on #{@on.to_date.to_formatted_s(:long_ordinal)}"
end
content_for(:title, title)
%>
<div class="page-header">
	<h1><%=h title %></h1>
</div>

<h2>Stops</h2>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Time</th>
			<th>Station</th>
		</tr>
	</thead>
	<tbody>
	<%
		@stations.size.times do |index|
			case @stations[index]
			when @origin
				class_name = 'success'
			when @destination
				class_name = 'danger'
			else
				class_name = ''
			end
	%>
		<tr>
			<td class="<%=h class_name %>"><%=h @arrival_times[index].strftime(@time_template) %></td>
			<td class="<%=h class_name %>"><%=h @stations[index].long_name %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<% if @track_history.is_a?(Array) && @track_history.size > 0 %>
	<h2>Most Recent Tracks</h2>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Track</th>
			</tr>
		</thead>
		<tbody>
		<% @track_history.each do |departure| %>
			<tr>
				<td><%=h departure.calendar_date.to_date.strftime('%A, %b %e') %></td>
				<td><%=h departure.track %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>

<footer>
  <nav>
    <%= link_to(
      "Back to schedule",
      url_for(
        :controller => 'schedule',
        :action => 'index',
        :origin => @origin.slug,
        :destination => @destination.slug,
        :on => @on,
      )
    ) %>
  </nav>

	<span style="display: none">Generated in <%=h Time.now - @start %> seconds</span>
</footer>
