<%
title="#{@departure_time.strftime(@time_template)} Departure from #{@origin.long_name} to #{@destination.long_name} on #{@on.to_date.to_formatted_s(:long_ordinal)}"
content_for(:title, title)
%><h1><%=h title %></h1>

<% if @track_history.is_a?(Array) && @track_history.size > 0 %>
	<h2>Most Recent Tracks</h2>
	<ol class="track-history">
		<% @track_history.each do |departure| %>
			<li class="past-departure"><%=h departure.track %></li>
		<% end %>
	</ol>
<% end %>

<h2>Stops</h2>
<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Station</th>
		</tr>
	</thead>
	<tbody>
	<%
		@stations.size.times do |index|
			case @stations[index]
			when @origin
				class_name = 'origin'
			when @destination
				class_name = 'destination'
			else
				class_name = ''
			end
	%>
		<tr>
			<td class="<%=h class_name %>"><%=h @arrival_times[index].strftime(@time_template) %></td>
			<td class="<%=h class_name %>"><%=h @stations[index].long_name %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<span style="display: none">Generated in <%=h Time.now - @start %> seconds</span>

<footer>
  <nav>
    <%= link_to(
      "Back to schedule",
      url_for(
        :controller => 'schedule',
        :action => 'index',
        :origin => @origin.slug,
        :destination => @destination.slug,
        :on => @on,
      )
    ) %>
  </nav>
</footer>
