<%
title="Trains from #{@schedule.origin.short_name} to #{@schedule.destination.short_name}"
content_for(:title, title)
%><h1><%=h title %></h1>

<table>
  <tr>
    <th>Depart</th>
    <th>Arrive</th>
    <% if @departs_ny_penn %>
      <th>Track</th>
    <% end %>
  </tr>
<% @trips.each do |trip| %>
  <% trip_url = url_for(:controller => 'trips', :action => 'show', :id => trip.id, :destination => @schedule.destination.slug) %>
  <tr>
    <td><%= link_to @schedule.origin_time(trip).strftime(@time_template).strip, trip_url %></td>
    <td><%= link_to @schedule.destination_time(trip).strftime(@time_template).strip, trip_url %></td>
    <% if @departs_ny_penn %>
      <td><%=
        trip.predict_track.map do |track|
          if track[:today]
            track[:number]
          else
            "#{track[:number]} (#{track[:count]}x #{number_to_percentage(track[:confidence]*100, :precision => 0)})"
          end
        end.join(', ')
      %></td>
    <% end %>
  </tr>
<% end %>
</table>
<span style="display: none">Generated in <%= Time.now - @start %> seconds</span>
<p>As of <%= @now.strftime(@time_template) %></p>
