<h1>Listing stops</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Short name</th>
    <th>Long name</th>
    <th>Description</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Zone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stops.each do |stop| %>
  <tr>
    <td><%= stop.code %></td>
    <td><%= stop.short_name %></td>
    <td><%= stop.long_name %></td>
    <td><%= stop.description %></td>
    <td><%= stop.latitude %></td>
    <td><%= stop.longitude %></td>
    <td><%= stop.zone %></td>
    <td><%= link_to 'Show', stop %></td>
    <td><%= link_to 'Edit', edit_stop_path(stop) %></td>
    <td><%= link_to 'Destroy', stop, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stop', new_stop_path %>
