<%= form_for(@calendar_date_service) do |f| %>
  <% if @calendar_date_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar_date_service.errors.count, "error") %> prohibited this calendar_date_service from being saved:</h2>

      <ul>
      <% @calendar_date_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calendar_date_id %><br />
    <%= f.number_field :calendar_date_id %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br />
    <%= f.number_field :service_id %>
  </div>
  <div class="field">
    <%= f.label :exception_type %><br />
    <%= f.number_field :exception_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
